/* --------------------------------------------------------
        ДЕКОР КАРТИНОК
--------------------------------------------------------*/
img {
  width: 100%; /* Подстраивается под размер любого контейнера */
  height: auto; /* Пропорции не меняются при изменении размера */  
}
.img_decor {
  outline: 15px groove #fdf5e6; /* Ширина, вид(обрамление рамки) и цвет рамки */
  outline-offset: -15px; /* Выводим рамку внутри элемента */
  box-shadow: 8px 6px 16px 0 rgba(0, 0, 0, 0.6), 12px 8px 24px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}
.img-content {
  outline: 2px dashed #fff; /* Ширина, вид(пунктир) и цвет рамки */
  outline-offset: -10px; /* Выводим рамку внутри элемента */
}

.img_hover:hover {border: 4px solid blue; /* Ширина, вид и цвет рамки */}

.social-qr {
  display: grid; 
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
}
.max, .whatsapp, .telegram, .vk {width: 90%;text-align: center;}
.qr {width: 80%; margin: 0 auto;}

.paspartu-box {
  display: flex;
  flex-wrap: wrap;  
  .paspartu {width: 48%;text-align: center;}
}  
.paspartu img{
  border: 4px solid transparent;  
  width: 85%;
}

.polaroid-group {display: flex; flex-wrap: wrap;}
.polaroid {
  width: 45%;
  margin: 4em auto;
  background-color: white;
  box-shadow: 8px 6px 16px 0 rgba(0, 0, 0, 0.6), 12px 8px 24px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.duh-fototext {
  text-align: center;
  padding: 5px 10px;
}

/*----------------------------------------------------------------------------------------
           НАСТРОЙКИ ДЛЯ МОБИЛЬНОЙ ВЕРСТКИ
----------------------------------------------------------------------------------------*/
@media (max-width: 768px) {  
  .social-qr {  /*QRcodes for contacts.html */
  display: grid; 
  grid-template-columns: 1fr;
  gap: 2em 0;
}
  .whatsapp, .telegram {width: 100%;text-align: center;}
  .qr {width: 60%; margin: 0 auto;}
  .polaroid {width: 85%;}
  .paspartu-box {flex-wrap: wrap;width: 100%;
  .paspartu {width: 100%;text-align: center;}
  } 
}