/*---------------------------------------------------------
                         HEADER
---------------------------------------------------------*/

.logo_head {  
  background: center / cover url('../img/website/headers/up-hram.png');
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  font:
    normal calc(1.1em + 2 * (100vw - 120px) / 100) 'Monomakh';
  color: #faf5f5;
  text-shadow: #541313 5px 5px 0.1rem;
  padding-top: 27%;  
}


/*--------------------------------------------------
                ПОДВАЛ FOOTER
----------------------------------------------------*/
* {border: 1px solid red;}
#footer{
  font-size: 0.9rem;    
  font-family: "PT Sans";
  background-color: #f4efe3;
  justify-content: center;
  border-top: 1px solid #5d001a;
 }
.first_block {
  display: grid;
  grid-template-columns: 0.6fr 0.8fr 0.5fr 0.6fr;
  }
h2 {
  color: #5d001a;
  text-align: left;  
  font-size: 1.1rem;
}
.footer-logo {
  display: flex;
  flex-direction: column;
}  
.footer-logo img {width: 60%; margin: 0.6em auto;}
.footer-logo-name {
  font-family: "Monomakh";
  font-size: 1.6rem;
  text-align: center;
  color: #5d001a;  
  margin: auto auto;  
}
.footer-about, .links, .social-links{padding:0 7%;}

.footer-about {
  display:flex; 
  flex-direction: column;
  text-align: justify;
  color: black;
}  
.links {
  display:flex; 
  flex-direction: column;
  padding-bottom: 1em;
}  
.links a{
  font-size: 1rem;
  margin: 0.2em 0;
  color: black;
  &:hover {color: #5d001a;font-weight: 700;}
}
.social-links {
  display: flex;
  flex-direction: column;  
}
.social-links img{
  height: 40px; 
  width: 40px;    
  transition: 0.2s; /* Время изменения */
  &:hover {transform: scale(1.2); /* Увеличиваем масштаб */}
}
.social-icons{ 
  display: grid;
  grid-template-columns: repeat(4,25%);
  justify-items: start;
}
.copy-right-sec{
  padding: 0.5em;
  background: #5d001a;
  color: white;
  text-align: center;
  font-size: 0.8rem;;
}
.copy-right-sec a{
 color: #d5d2d2;
 font-size: 0.8rem;
}
a{text-decoration:none;}
/*----------------------------------------------
      Изменения для мобильной верстки header  и footer
----------------------------------------------*/      
@media (max-width: 768px) {
.logo_head {font: normal calc(0.8rem + 2 * (100vw - 120px) / 100) 'Monomakh';}

#footer { padding: 0 3%;}
.first_block {grid-template-columns: 1fr;}
.footer-logo img {width: 50%; margin: 0.5em auto;}
.footer-logo-name {
  font-family: "Monomakh";
  font-size: 1.4rem;
  text-align: center;
  color: #5d001a;  
  margin: auto auto;  
}
.links a{  
  font-size: 1rem;
  margin: 0.25em 0; /* расстояние между строками меню footer*/   
  text-align: left;
  
}
.social-links img{
  height: 50px; 
  width: 50px; 
}   
.social-icons{   
  justify-items: center;    
  padding: 1em 0 4em 0;
}
.footer-about, .links, .social-links{border-top: 1px solid #4c4a4a;}
}	
/* footer section end */