/*---------------------------------------------------------
                         HEADER
---------------------------------------------------------*/

.logo_head {  
  background: center / cover url('../img/website/headers/up-hram.png');
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  font:
    normal calc(1.1em + 2 * (100vw - 120px) / 100) 'Monomakh';
  color: #faf5f5;
  text-shadow: #541313 5px 5px 0.1rem;
  padding-top: 27%;  
}


/*--------------------------------------------------
                ПОДВАЛ FOOTER
----------------------------------------------------*/

#footer{
  font-size: 0.8rem;
  color: #003153;  
  font-family: "PT Sans";
  background-color: #2b1a15;
  justify-content: center;
 }
.first_block {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr 0.8fr;
  }
h2 {
  color: #857e7c;
  text-align: left;  
  font-size: 1rem;
}
.footer-logo {
  display: flex;
  margin: auto auto;
  width: 90%; 
}
.footer-about, .links, .social-icons{padding:0 10%;}
.footer-about {
  display:flex; 
  flex-direction: column;
  text-align: justify;
  color: #d5d2d2;
}  
.links {
  display:flex; 
  flex-direction: column;
}  
.links a{
  font-size: 0.8rem;
  margin: 0.2em 0;
  color: #d5d2d2;
  &:hover {color: #fff;font-weight: 700;}
}

.social-links img{
  height: 40px; 
  width: 40px;    
  transition: 0.4s; /* Время изменения */
  &:hover {transform: scale(1.2); /* Увеличиваем масштаб */}
}
.footerlogo {
 display: flex;
 flex-direction: column;
}
.footerlogo img {
  width: auto;  
  margin: 5% auto; 
}
.social-icons{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.copy-right-sec{
  padding: 0.5em;
  background: #5d001a;
  color: white;
  text-align: center;
  font-size: 0.8rem;;
}
.copy-right-sec a{
 color: #d5d2d2;
 font-size: 0.8rem;
}
a{text-decoration:none;}
/*----------------------------------------------
      Изменения для мобильной верстки header  и footer
----------------------------------------------*/      
@media (max-width: 768px) {
.logo_head {font: normal calc(0.8rem + 2 * (100vw - 120px) / 100) 'Monomakh';}

#footer { padding: 0 3%;}
.first_block {grid-template-columns: 1fr;}
.footerlogo {display: none;}
.footer-logo {margin: 2em auto;width: 60%;}
.links a{  
  font-size: 1rem;
  margin: 0.25em 0; /* расстояние между строками меню footer*/   
  text-align: left;
  color: #d5d2d2;
}
.social-links img{
  height: 50px; 
  width: 50px;  
}  
.social-icons {
  border-top: 1px solid #a89f91;
}
}	
/* footer section end */