
html, body {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px; 
  max-width: 1200px;
  margin: 0 auto;
}


/*---------------------------------------------------------
                         HEADER
---------------------------------------------------------*/

.logo_head {  
  background: center / cover url('../img/website/headers/up-hram.png');
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  font:
    normal calc(1.2em + 2 * (100vw - 120px) / 100) 'Monomakh';
  color: #faf5f5;
  text-shadow: #541313 5px 5px 0.1rem;
  padding-top: 27%;  
}


/*------------------------------------------------------
                     МЕНЮ
-------------------------------------------------------*/

nav {
  display: flex;	
  font-family: "PT Sans", sans-serif;
  font-style: regular;
  font-weight:normal;
  background-color: #faf5f5;
  border-top: 1px solid #1f2833;
  border-bottom: 1px solid #1f2833;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.logo_nav {display: none;}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {margin-right: 20px;}
ul li a {
  color: #1c1c1c;
  font-size: 1.4rem;
  &:hover {
    font-weight: 700;
    color: #5d001a;}
}
.checkbtn {display: none;}
.checkbtn img {height: 30px;width: 30px;} /* Размер кнопки меню */
#check {display: none;}
/*----------------------------------------------------------
               МЕНЮ МОБИЛЬНОГО МАКЕТА
------------------------------------------------------------*/
@media (max-width: 768px) {  
  html, body {
  font-size: 22px;
  background: #fffdfd;
}
  #siteAds {display: none;}
  .logo_head {font: normal calc(0.8rem + 2 * (100vw - 120px) / 100) 'Monomakh';}
  nav {
    justify-content: space-between;
    background-color: #fff;
  }
  .logo_nav {
    display: flex;
    font-size: 1rem;
    color: #5d001a;
  }
  .checkbtn {
    display: flex;    
    order: 2; /* Кнопка меню справа (2 позиция) */
    margin-right: 1%;  
  }
  ul {
    position: fixed;
    top: 1em;
    right: -100%;
    background-color: #3d3331;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;       
  }
  ul li {margin: 0.6rem 0;}
  ul li a {
    color: white;
    font-size: 1.1rem;
    &:hover {color: antiquewhite;}
  }  
  #check:checked ~ ul {right: 0;}
  .social-qr {display: grid; 
  grid-template-columns: 1fr;
  gap: 2em 0;
}
  .whatsapp, .telegram {width: 100%;text-align: center;}
  .qr {width: 50%; margin: 0 auto;}
}


 

/*------------------------------------------------
         КНОПКА ВОЗВРАТА BUTTON UP
--------------------------------------------------*/
.back-to-top {
  width: 55px;
  height: 55px;
  background-image: url('../img/logo/up.png');
  background-size: cover;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
} 
.back-to-top:hover {opacity: 0.8;}

/*------------------------------------------------
         КНОПКИ НРАВИТСЯ НЕ НРАВИТСЯ
--------------------------------------------------*/



/*--------------------------------------------------
                ПОДВАЛ FOOTER
----------------------------------------------------*/

#footer{
  font-size: 0.8rem;
  color: #003153;  
  font-family: "PT Sans";
  background-color: #1d120f;
  justify-content: center;
 }
.first_block {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.5fr 0.8fr;
  }
h2 {
  color: #857e7c;
  text-align: left;  
  font-size: 1rem;
}
.footer-roundlogo {
  display: flex;
  margin: auto auto;
  width: 70%;
  clip-path: circle(50%);
}
.footer-about {
  display:flex; 
  flex-direction: column;
  padding: 0 5%;
  text-align: justify;
color: #d5d2d2;
}  
.links {
  display:flex; 
  flex-direction: column;
  padding: 0 20%;   
}  
.links a{
  font-size: 0.8rem;
  margin: 0.2em 0;
  color: #d5d2d2;
  &:hover {color: #fff;font-weight: 700;}
}

.social-links img{
  height: 40px; 
  width: 40px;    
  transition: 0.4s; /* Время изменения цвета изображения */
  &:hover {transform: scale(1.2); /* Увеличиваем масштаб */}
}
.footerlogo {
 display: flex;
 flex-direction: column;
}
.footerlogo img {
  width: auto;  
  margin: 5% auto; 
}
.social-icons{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7%;
}
.copy-right-sec{
  padding: 0.5em;
  background: #5d001a;
  color: white;
  text-align: center;
  font-size: 0.8rem;;
}
.copy-right-sec a{
 color: #d5d2d2;
 font-size: 0.8rem;
}
a{text-decoration:none;}
/*----------------------------------------------
      Изменения для мобильной верстки подвала
----------------------------------------------*/      
@media (max-width: 768px) {
#footer { padding: 0 3%;}
.first_block {grid-template-columns: 1fr;}
.footer-about {display: none;}
.footerlogo {display: none;}
.footer-roundlogo {margin: 1em auto;width: 40%;
}
.links {padding: 0 0 1em 10px;}
.links a{  
  font-size: 1rem;
  margin: 0.25em 0; /* расстояние между строками меню footer*/   
  text-align: left;
  color: #d5d2d2;
}
.social-icons {
  padding: 1em 0 4em 0;
  border-top: 1px solid #a89f91;
}
}	
/* footer section end */