@font-face {
	font-family: 'PT Sans'; 
	src: url("fonts\PTSans\PTSans-Bold.ttf"),
    url("fonts\PTSans\PTSans-BoldItalic.ttf"),
    url("fonts\PTSans\PTSans-Italic.ttf"),
    url("fonts\PTSans\PTSans-Regular.ttf");

 }
  
 /*  --------------adaptiv setka-------------- */
  
  .container {
     display: flex;
     flex-wrap: wrap;
     margin: 0 5%;
     
    
  }
  .aside, .main {
     width: 100%;
     min-height: 1px;
     
  }


  
  
  @media (min-width: 640px) {
    .aside {
      flex: 0 0 32%;
      max-width: 32%;
      order: 2; 
      margin-left: 8%;
     }
    .main {
      flex: 0 0 60%;
      width: 60%;
      order: 1;  
      width: 100%;
     }
     html, body {
       margin: auto;
       max-width: 1000px;
     }
   }

   
  
  
   
  
/*---------------------------------------------------------------------------------------------*/



.block_title {
 font-family: "PT Sans", sans-serif;
 font-size:1.2em;
 padding-left: 6%;
 font-style: regular;
 font-weight:normal;
 color: #ffffff;
 background: #49060d;
}

.block_subtitle {
 font-family: "PT Sans", sans-serif;
 font-size:1.2em;
  font-style: regular;
 font-weight:bold;
}

.block_text {
  font-family: "PT Sans", sans-serif;
  font-style: regular;
   font-weight:normal;
  font-size: 1em;
}




a {
 color: #ffffff;
 text-decoration:none;
}

a:hover {
 color:#1524b3;
 text-decoration: none;
}


#top {
	
}

#buttons {
 margin-top: 3%;
	text-align: center;
 font-family: "PT Sans", sans-serif;
  font-weight: 400;
 font-weight:normal;
 padding:0px 0 0px;
 line-height:135%;
 font-style:normal;
font-size: 1.2em;
border: 0px solid #1c2aad;
background: #49060d;
margin-bottom: 5%;
}


.main {
 
}



.aside { 
 
}

.footer {
color: #ffffff;
  text-align: center;
 font-family: "PT Sans", sans-serif;
  font-weight: 400;
 font-weight:normal;
 line-height:0%;
 font-style:normal;
font-size: 0.8em;
border: 0px solid #1c2aad;
background: #49060d;
 } 

 img {
  max-width: 100%; /* Подстраивается под размер любого контейнера */
  height: auto; /* Пропорции не меняются при изменении размера */
}

/*--------button up-------*/


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid #ffffff; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #49060d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


