/*------------------------------------------------------
                     МЕНЮ
-------------------------------------------------------*/

nav {
  display: flex;	
  font-family: "PT Sans", sans-serif;
  font-style: regular;
  font-weight:normal;
  background-color: #fffdf6;
  border-top: 1px solid #5d001a;
  border-bottom: 1px solid #5d001a;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.logo_nav {display: none;}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {margin-right: 20px;}
ul li a {
  color: #1c1c1c;
  font-size: 0.8rem;
  &:hover {
    font-weight: 700;
    color: #5d001a;}
}
.checkbtn {display: none;}
#check {display: none;}
#Aside {background-color: rgb(245, 245, 245);}
/*----------------------------------------------------------
               МЕНЮ МОБИЛЬНОГО МАКЕТА
------------------------------------------------------------*/
@media (max-width: 768px) {  
  html, body {
  font-size: 22px;
}
  #Aside {display: none;}
  nav {
    justify-content: space-between;
      }
  .logo_nav {
    display: flex;
    font-size: 1rem;
    color: #5d001a;
  }
  .checkbtn {
    display: flex;    
    order: 2; /* Кнопка меню справа (2 позиция) */
    margin-right: 1%;  
  }
  .checkbtn img {height: 30px;width: 30px;} /* Размер кнопки меню */
  ul {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;    
    background: center / cover url('../img/menu/menu_background-blue.png');
    /*background-color: #3d3331;*/
    top: 1px;
    border: 10px solid #030b25;
    right: calc(-100% - 20px);    
    width: calc(100% - 20px);
    height: calc(100vh - 20px);           
  }
  ul li {margin: 0.8em 0;}
  ul li a {
    color: white;
    font-size: 1rem;
    text-shadow:2px 2px black;
    font-weight: 400;
    &:hover {
    text-decoration: none;
    color: #ececec;
  }
  }  
  #check:checked ~ ul {right: 0;}  
}

/*------------------------------------------------
                 СЕРАЯ КНОПКА
--------------------------------------------------*/
.gray-button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 0.8rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 30px;
  background-color: #68788d;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.gray-button a {color: white;} 

/*------------------------------------------------
         КНОПКА ВОЗВРАТА BUTTON UP
--------------------------------------------------*/
.back-to-top {
  width: 55px;
  height: 55px;
  background-image: url('../img/logo/up_shevron.png');
  background-size: cover;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
} 

/*------------------------------------------------
        ССЫЛКИ И КНОПКИ  ВПЕРЕД - НАЗАД
--------------------------------------------------*/
.pages-click {font-size: 1rem; margin-top: 0.5em;} /*Ссылки страниц венчания*/
.pages-active {color: #5d001a; font-weight: 500;}
.pages-passive {color: #777; font-weight: 400;}

.pagelist {display: flex; justify-content: center;}
.page-items {display: flex; width: 40%; justify-content: space-between;}
.next, .previous { text-decoration: none; display: inline-block; padding: 0.2em 0.8em; border: 1px solid #ccc;}
.page-items a:hover {background-color: #ddd; color: black;}
.previous {background-color: #f1f1f1; color: black;}
.next {background-color: #68788d; color: white;}

@media (max-width: 768px) { 
  .pages-click {font-size: 0.8rem; margin-top: 1em;}
  .page-items {width: 100%;}
  .page-items a{border-radius: 0 10px 0 10px;}
}
/*------------------------------------------------
         КНОПКИ НРАВИТСЯ НЕ НРАВИТСЯ
--------------------------------------------------*/