* {
 margin: 0;
 padding: 0;
}

body {
 width: 100%;
 height: 100%;
 color:#000000;
 background: url(images/body.png) 0px 0px repeat;
 font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:0.94em;
 line-height:135%;
}


h1 {
 text-align: center;
 font-family: "Monomakh";
 font-size:40px;
 font-weight:normal;
 padding:0px 0 0px;
 line-height:100%;
 font-style:normal;
}

h2 {
 text-align: center;
 font-size:36px;
 font-weight:normal;
 padding:0px 0 0px;
 line-height:100%;
 font-style:italic;
}

h3 {
 text-align: center;
 font-size:24px;
 font-weight:normal;
 padding:0px 0 0px;
 line-height:100%;
 font-style:italic;
}

a {
 color: #cd5252;
 text-decoration:none;
}

a:hover {
 color:#963c3c;
 text-decoration: none;
}


/* -------------------------------
 Структура
 ----------------------------------*/

/* -------------------------------
 Ширина сайта в 1000px
 ----------------------------------*/

 #wrapper {
  margin-top:0px;
  border:0px solid #000;
  width: 100%;
  max-width:320px;
  margin: 0 auto;
  height: auto !important;
  background: #fffcf7;
 }

/* -------------------------------
 Шапка сайта
 ----------------------------------*/


.text {
 margin:15px;

}

/* -------------------------------
 Главный контент
 ----------------------------------*/

#main:after {
content: '.';
display: block;
clear: both;
visibility: hidden;
height: 0;
}


#content #colLeft {

border: 0px solid #000;
 float:left;
 width:100%;
 margin-right:0px;
 border: 0px solid #1c2aad;
 background: #fffcf7;
}



/* -------------------------------
 Сайтбар сайта
 ----------------------------------*/

#content #colRight {
 position:relative;
 margin-top: 0px;
 margin-left:0px;
 float:Left;
 width:100%;
 border: 1px solid #1c2aad;
 background: #fff5e4;
}

 #content #footer {
  position:relative;
  margin-top: 10px;
  margin-left 0px;
  float:Left;
  width:100%;
  border: 0px solid #1c2aad;
  background: #fffcf7;
 }

/*----------------------------
 Логотип
 ------------------------------*/



img {
  max-width: 100%; /* Подстраивается под размер любого контейнера */
  height: auto; /* Пропорции не меняются при изменении размера */
}
