* {
 margin: 0;
 padding: 0;
}

@font-face {
	font-family: 'ARussDecor';
	src: url('../fonts/arussdecor.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/arussdecor.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/arussdecor.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/arussdecor.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/arussdecor.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/arussdecor.svg#arussdecor') format('svg'); /* Chrome < 4, Legacy iOS */
font-style: normal; 
font-weight: normal;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
}





body {
 width: 100%;
 height: 100%;
 color:#000000;
 /*background: url(images/body.png) 0px 0px repeat;*/
 line-height:135%;
}


.logo_title {
font-family: `aRussDecor`;
font-weight: 400;
line-height: 60px;
text-trsnsform: uppercase;
 font-size: 1.6em;
color: #89030c;
}

h1 {
 text-align: center;
 font-family: "Monomakh";
 font-size: 1.6em;
 font-weight: normal;
 padding: 0px 0 0px;
 line-height: 100%;
 font-style: normal;
}

h2 {
 text-align: center;
 font-family: "Monomakh";
 font-size: 1.4em;
 font-weight: normal;
 padding: 0px 0 0px;
 line-height: 100%;
 font-style: normal;
}

h3 {
 text-align: center;
 font-family: "Monomakh";
 font-size: 1.2em;
 font-weight: normal;
 padding: 0px 0 0px;
 line-height: 100%;
 font-style: normal;
}

.text {
}

a {
 color: #cd5252;
 text-decoration: none;
}

a:hover {
 color:#963c3c;
 text-decoration: none;
}


/* -------------------------------
 Структура
 ----------------------------------*/

/* -------------------------------
 Ширина сайта в 480px
 ----------------------------------*/

 #wrapper {
  margin-top: 0px;
  border:0px solid #000;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height: auto !important;
  /*background: #f6ecc0;*/
 }




/* -------------------------------
 Главный контент
 ----------------------------------*/

#main: after {
content: '.';
display: block;
clear: both;
visibility: hidden;
height: 0;
}

#top {
background: #fafaf0;
}


#content #buttons-top {
font-family: "Monomakh";
font-size: 28px;
border: 0px solid #1c2aad;
margin-top: 0px;
margin-bottom: 10px;
display: flex; justify-content: center; align-items: center;
}

#content #buttons-bottom {
font-family: "Monomakh";
font-size: 28px;
border: 0px solid #1c2aad;
margin-top: 10px;
margin-bottom: 0px;
display: flex; justify-content: center; align-items: center;
}

#content #content1 {
border: 0px solid #000;
width: 100%;

margin: 15px;
border: 0px solid #1c2aad;
background: #ffffff;
}

#content #content2 {
/*position:relative;*/
margin-top: 0px;
margin-right: 0px; 
margin-left: 0px;
width:100%;
border: 0px solid #1c2aad;
background: #ffffff;
}

#content #footer {
margin-top: 10px;
width:100%;
max-width: 480px;
border: 0px solid #1c2aad;
background: #f6ecc0;
display: flex; justify-content: center; align-items: center; 
}



img {
max-width: 100%; /* Подстраивается под размер любого контейнера */
height: auto; /* Пропорции не меняются при изменении размера */
}
